@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "digital-clock";
  src: url("/fonts/digital-7.ttf");
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(203, 203, 203);

  font-family: jura, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color1: rgb(41, 41, 41);
  --bg-color2: rgb(50, 50, 50);

  --button-highlight1: rgb(27, 27, 28);
  --vh: 100vh;
}

html {
  height: 100%;
  background: url("assets/black-waves.png") center/cover no-repeat fixed;
  background-color: rgba(53, 53, 53, 0.8);
}
body {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  height: 100%;
  overflow: hidden;
}
